.move{
    transition: all;
    animation: next 3s infinite;
}
@keyframes next {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.move1{
    transition: all;
    animation: nett 3s infinite;
}
@keyframes nett {
    0%{
        transform: translateY(80px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(80px);
    }
    
}